
extends layout

block content
  // Es importante siempre poner el block content para que salga dentro del layout, al parecer esto une o conecta con el layout
  .wrapper
      section.main
        .main-content
          span.hello Estas son las noticias
          h1.main-title
            | Queremos que estes informado
            br
            | 		Existen estudios que te pueden interesar
          .social